<footer class="main-footer">
    <strong> Copyright © 2023 Tüm hakları saklıdır </strong>
    
    <div class="float-right d-none d-md-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>
