@using LibraryProject.MvcUI.Areas.AdminPanel.Models.ApiTypes;
@using System.Text.Json;
@inject IHttpContextAccessor _httpContextAccessor;
@{
    var jsonData = _httpContextAccessor.HttpContext.Session.GetString("ActiveAdminPanelUser");
    var admin = JsonSerializer.Deserialize<AdminPanelUserItem>(jsonData);
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="http://localhost:5057/AdminPanel/Book/Index" class="brand-link">
        <img src="~/adminPanel/dist/img/ktp.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">KÜTÜPHANE</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/adminPanel/dist/img/prfl.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="http://localhost:5057/adminpanel" class="d-block">
                    @admin.FullName 
                </a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-header">YÖNETİCİ MENÜ</li>
                <li class="nav-item">
                    <a href="pages/calendar.html" class="nav-link">
                        <i class="nav-icon fas fa-ellipsis-h"></i>
                        <p>
                            İçerik Yönetimi
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/AdminPanel/Book/Index" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>Kitaplar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/AdminPanel/Category/Index" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>Kategoriler</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/AdminPanel/Employee/Index" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Personeller</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/AdminPanel/Order/Index" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>Satışlar</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
